:host {
    display: flex;
    width: 100%;
    align-items: center;
}
:host .type-toggle {
    padding-inline-start: 2.5rem;
}
:host .type-toggle .show-option, :host .type-toggle .hide-option {
    font-size: 1.2rem;
    display: block;
}
:host .type-toggle .show-option:not(), :host .type-toggle .hide-option:not(ion-ico) {
    text-transform: uppercase;
    font-size: 1rem;
}
